body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

#City {
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#City:focus {
    outline: none;
}

#submit {
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}